# This template is a low-dependency template. 
# By default there is no requirements added here.
# Add the requirements you need to this file.
# or run `make init` to create this file automatically based on the template.
# You can also run `make switch-to-poetry` to use the poetry package manager.

pip~=22.1.2
wheel~=0.37.1
cryptography~=37.0.2
Pillow~=9.1.1
PyYAML~=6.0
setuptools~=60.6.0
packaging~=21.3
numpy~=1.22.4
certifi~=2021.10.8
requests~=2.27.1
six~=1.16.0
python-dateutil~=2.8.2
idna~=3.3
urllib3~=1.26.9
pyparsing~=3.0.9
ads~=0.12.3
pywikibot~=7.1.0